@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-font:"Poppins";

    /* color */
    --bg-primary:#272727;  
    --bg-secondary:#343434;
    --primary-color:#8B6130;
    --secondary-color:#BF895A;
    --navbar-bg:#282828;
    --navbar-text:#EAEAEA;   
  
    /* text */
    --text-primary:#fff;
    --text-secondary:#DCDCDC;
    --regular:400;
    --semibold:600;
    --medium:500;
    --light:300;

    --border-radius-sm:4px;
    --border-radius-md:8px;
}

a{
    text-decoration: none;
}

body{
    background-color: var(--bg-primary);
    font-family: var(--primary-font);
}

h1, h2, h3, h4, h5, h6, p {
    color: var(--text-primary);
}

h1{
    font-weight: var(--semibold);
}

@media (min-width:992px){
h1{
    font-size: 3.375rem;
} 
}

h2{
    font-weight: var(--semibold);
}

@media (min-width:992px){
h2{
    font-size: 2.375rem;
} 
}

h3{
    font-weight: var(--semibold);
    font-size: 1.12rem;
}

@media (min-width:992px){
h3{
    font-size: 1.375rem;
} 
}

p{
    font-weight: var(--regular);
}

.badge{
    color: var(--secondary-color);
    font-size:1.25rem;
    font-weight: var(--medium);
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, label::selection {
    color:var(--text-primary);
    background-color:var(--secondary-color);
  }

/* wip da vedere */
img::selection{
    background-color:var(--primary-color);
  } 
/* navbar */
.navbar{
    background-color: var(--navbar-bg);
    font-family: var(--primary-font);
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0 0 0 / 0.25);
}

.nav-link, .nav-item{
    padding: 8px 16px!important;
    border-radius: var(--border-sm);
}
.navbar-brand{
    display: flex;
    align-items: center;
}

.navbar-nav{
    column-gap: 1.5rem;
}

#navbarSupportedContent {
    transition: all 0.5s ease;
}
#navbarSupportedContent.show {
    top: 0;
}

/* footer  */
.footer-nav{
    color: rgb(255, 255, 255, 0.6);
}

.border-bottom {
    border-bottom: var(--bs-border-width) var(--bs-border-style) #5e5d5d !important;}

.nav{
  display: flex;
  flex-direction: column;  
  align-items: center;
  color: var(--navbar-text);
}

.terms, .design, .socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.footer-brand{
    justify-content: center;
}
@media  (min-width: 767px) {
    .nav{
    flex-direction: row;  
}
.socials, .design{
    justify-content: end;
}
.terms, .footer-brand{
    justify-content: start;
}
.terms{
    gap: 1rem;
}
}

footer{
position: relative;
}
.knot3{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index:-1;
}

.footer-content{
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

/* hero */
.hero {
background-image: linear-gradient(to left, rgba(239, 33, 33, 0), rgba(0 0 0 / 0.6)), url(assets/bg.png);
background-size: cover;
background-position: center;
padding-bottom: 5rem;
padding-top: calc(5rem + 80px);
}

@media (min-width: 1200px) {
.hero {
    padding: 12rem;
    padding-top: calc(12rem + 110px);
    }
}

.divider {
background-color: var(--secondary-color);
width: 82px;
height: 4px;
}

/* btn */
.btn {
    border-radius: var(--border-radius-sm);
    font-weight: var(--medium);
    padding:0.5rem 1.5rem;
}

.btn-primary {
    background-color: var(--primary-color)!important;
    border: none;
}

.btn-link{
    color: var(--secondary-color);
    padding: 0;
    text-decoration: none;
}

.btn-xl {
padding: 1rem 8rem;
}

.btn-link:hover{
    color: var(--primary-color);
}

.btn-outline{
    color: var(--secondary-color);
    border: solid;
    border-color: var(--secondary-color);
}

.btn-outline:hover{
    color: var(--primary-color);
    border: solid;
    border-color: var(--primary-color);
}

.btn-outline:hover svg  {
    stroke:var(--primary-color);
  }

@media (min-width:992px) {
    .cta{
        background-color: var(--primary-color);
        color: var(--text-primary)!important;
        font-weight: var(--font-semibold);
        border-radius: var(--border-radius-sm);
    }
}

.btn-social{
    padding: 0.5rem;
}

@media (max-width: 767px) {
.btn {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
   }
.btn-link {
    width: auto!important;
}
}

.page-section{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.page-section-start{
    padding-top: calc(2.5rem + 80px);
    padding-bottom: 3rem;
}

header{
    padding-bottom: 3.5rem;
}

@media (min-width:992px){
    .features{
        display: flex;
        flex-direction: row;
    }
}

.card{
    background-color: var(--bg-secondary);
    border-radius: 0;
    transition: 0.3s;
}
.card-aboutme {
    background-color: var(--bg-secondary);
}

/* WIP- DA RIVEDERE | */
#aboutme img{
    align-self: stretch;
    height: 100%;
}

.img-container{
    overflow: hidden;
    display: flex;
    justify-content: center;
}
/* WIP- DA RIVEDERE FINO A QUI| */

#services .card{
    background-color:rgb(52, 52, 52, 0.6);
    padding: 2rem;
    border-radius: var(--border-radius-md);
}

#services .card:hover{
    transform: scale(105%);
}

.feature-text h3{
padding-top: 1.5rem;
}
.feature-text p, #aboutme p{
font-weight: var(--light);
}

.features svg{
    margin-right: 0.5rem;
}
.title{
    flex-flow: column;
}

#services{
    position: relative;
}
.knot{
    position: absolute;
    top: -15rem;
    /* wip da sistemare poi */
    z-index:-1;
}

.card-galley{
    padding: 0;
    border-radius: 0;
    overflow: hidden;
    margin-top: 1rem;
}

/* .card-img {
    transition: 0.5s;
}

.card-galley:hover .card-img  {
    transform: scale(1.2);
} */

.info{
    font-size: 0.875rem;
    font-weight: var(--light);
    color: var(--text-secondary);
}
.card-text{
    font-weight: var(--light);
}

.card-title{
    color: var(--text-primary);
}

.card-body{
    padding:2rem 2.5rem; 
}

#news{
    position: relative;
}
.knot2{
    position: absolute;
    top: -15rem;
    right: 0;
    /* wip da sistemare poi */
    z-index:-1;
}
article {
    padding-top: 1rem;
}

/* swiper */

.swiper-container {
    width: 100%;
    overflow: hidden;
  }
/* 
  wip- capire che fare con l'overflow da mobile */
.swiper-pagination {
    position: relative!important;
    transition: .3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
    padding-top: 1rem;
}

.swiper-pagination-bullet {
    background-color: #dcdcdc !important;
}

.swiper-pagination-bullet-active{
    background-color: var(--secondary-color)!important;
}

.swiper-container .card{
    cursor: grab;
}

#form-ridotto{
    padding-top: 3.75rem;
    padding-bottom: 3.75rem; 
    background-color: var(--bg-secondary);
}

#form-ridotto h2{
    padding-bottom: 1.2rem;
}

@media (min-width: 767px) {
#form-ridotto h2 {
    text-align: left;
    padding-bottom: 0;
    }
}

#toTop{
    font-size: 20px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 40px;
    text-align: center;
    z-index: 10;
    transition: opacity 300ms ease-in-out;
    background-color: #5b5b5b;
}

#toTop img{
    padding:0.7rem  0.5rem;
    width: 35px;
}
.alert-warning {
    background-color: #ffe181;
}

.alert {
    margin-top: 6.3rem!important;
    margin-bottom: 0;
}

#news-page{
    background-image: url(assets/knots.png);
    background-repeat: repeat-y;
}

li {
    color: var(--text-secondary);
}

#modelli img {
    width: 100%;
}

 @media (min-width:767px) {
    #modelli img {
        width: auto;
        height: 100%;
        max-height: 500px;}
 }

